table{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%
}
tr,td{
border: 1px solid #dddddd;
text-align: center;
padding: 8px;
}
tr{
	 background-color: lightblue;
}
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
} 